@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
}
header{
	width: 100%;
	background: #999;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.contenedor{
	display: flex;
	justify-content: center;
	align-items: center;
}
.barra__nav{
	display: flex;
	justify-content: center; 
	align-items: center;
}
.logo{
	width: 5rem;
	height: 5rem;	
	border-radius: 100%;
	background: url(images/logo.jpg) center no-repeat;
	background-size: cover;
	position: relative;
}
.lista{
	list-style-type: none;
	text-align: center;
}
.item{
	display: inline;
	text-align: center;
	margin: 0 10px 0 0;
}
.item a{
	padding-bottom: 2px 7px 2px 7px;
	color: #000;
	text-decoration: none;
}
.item a:hover{
	background-color: #333333;
	color: #ffffff;
}
@media screnn and (max-width: 435px){
	.lista{
			
	}
}