section{
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    min-height: 50vh;
}
.lenguajes{
    position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 1200px;
   transform-style: preserve-3d;
}
.lenguajes .box{
   position: relative;
   width: 150px;
   height: 200px;
   margin: 10px;
   box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
   background: rgba(81, 113, 148,0.1);
   border-radius: 15px;
   border-top: 1px solid rgba(255,255,255,0.5);
   border-left: 1px solid rgba(255,255,255,0.5);
   transform-style: preserve-3d;
}
.lenguajes .box:hover::before,
.lenguajes .box:hover:after{
    opacity: 0.04;
}
.lenguajes .box .name{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.lenguajes .box:hover .name{
    top: 20px;
    opacity: 1;
}
.lenguajes .box .visit{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #000;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.lenguajes .box:hover .visit{
    bottom: 10px;
    opacity: 1;
}
.lenguajes .box .circle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 0.5s;
    background: rgb(0, 247, 193);
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%,-50%,50px);
}
.lenguajes .box .lenguaje{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,0px);
}
.lenguajes .box:hover .lenguaje{
    transform: translate3d(-50%,-50%,100px);
}
.lenguajes .box:nth-child(1) .circle,
.lenguajes .box:nth-child(1) .visit{
    background: rgb(255,80,46);
}
.lenguajes .box:nth-child(2) .circle,
.lenguajes .box:nth-child(2) .visit{
    background: rgb(0, 151, 246);
}
.lenguajes .box:nth-child(3) .circle,
.lenguajes .box:nth-child(3) .visit{
    background: rgb(241, 191, 34);
}
.lenguajes .box:nth-child(4) .circle,
.lenguajes .box:nth-child(4) .visit{
    background: rgb(254, 102, 0);
}
.lenguajes .box:nth-child(5) .circle,
.lenguajes .box:nth-child(5) .visit{
    background: rgb(255, 255, 255);
}
.lenguajes .box:nth-child(6) .circle,
.lenguajes .box:nth-child(6) .visit{
    background: rgb(195, 0, 47);
}
.lenguajes .box:nth-child(7) .circle,
.lenguajes .box:nth-child(7) .visit{
    background: rgb(73, 137, 248);
}
/*@media screen and (max-width: 768px){
    .lenguajes.active{
		display: none;	
    }
}*/