section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proyecto{
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
    flex-wrap: wrap;
    width : 1300px;
    transition: 0.5s;
}
.proyecto .box{
    position: relative;
    border-radius: 20px;
    margin: 5px 5px 0 0;
    width: 400px;
    height: 300px;
    background: rgba(2,3,4,0.2)
}
.box .circulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.box .circulo::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #003871;
    clip-path: circle(120px at center);
    transition: 0.5s;
}
.box:hover .circulo::before{
    background: #506da6;
    clip-path: circle(400px at center);
}
.box img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
}
.box:hover img{
    left: 78%;
    height: 210px;
}
.box .contenido{
    position: relative;
    width: 50%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.box:hover .contenido{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.box .contenido h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
}
.box .contenido p{
    font-size: 12px;
    text-align: justify;
    color: azure;
}
.box .contenido a{
    position: relative;
    color: bisque;
    padding: 10px 20px;
    border-radius: 10px;
    background: white;
    color: black;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
}